{% extends "gamedb/base_gamedb.html" %}

{% block title %}Installation help{% endblock %}

{% block main %}
    <div id="breads">
        <ul class="horizmenu">
            <li><a href="{% url 'g-games-list' %}">Games list</a></li>
            <li><a href="{% url 'g-show-template' "install" %}">Installing a preset</a></li>
        </ul>
    </div>
    <h2>General installation instructions</h2>

    <h3>Install using SweetFX Configurator</h3>
    <p>
        <ol>
            <li>First step, you need the <a href="http://sweetfx.thelazy.net/?cat=3">SweetFX Configurator</a> version 1.3.3 or later.</li>
            <li>Select the game in the games list (you might have to add it to the list first)</li>
            <li>Click the "Save / Load configuration" button</li>
            <li>Click "Import preset" OR drag the downloaded settings file to the preset list</li>
            <li>Select the new preset in the list</li>
            <li>(Optional) Rename the new preset</li>
            <li>Click on "Load selected preset" and the preset will be loaded into the Configurator main window</li>
        </ol>
    </p>

    <h3>Manual install</h3>
    <p>
        First of all, you need <a href="http://forums.guru3d.com/showthread.php?t=381912">SweetFX</a> to use these presets. 
        For installation I'll just refer you to that thread, which have pages of information, and link to a great introductionary <a href="http://www.youtube.com/watch?v=v21m_p7d2A4">youtube video</a>.
    </p>

    <p>
        Then, when SweetFX is running and enabled for the game, you either :</p>
        <ol>
            <li>Copy the downloaded preset into the game folder</li>
            <li>Edit the file "SweetFX_preset.txt" to point to the new file</li>
        </ol>
        <p>OR just copy the content and replace the existing SweetFX_settings.txt content.
    </p>
{% endblock %}
