{% extends "users/base.html" %}
{% load bbcode %}

{% block title %}User {{ object|title }}{% endblock %}

{% block main %}
<div>
    <h2>{{ object|title  }}</h2>
    Joined the site {{ object.date_joined|timesince }} ago
    
    {% if user.is_superuser %} 
      <div><a href="/admin/auth/user/{{ object.id }}/change/">Admin user</a></div>
    {% endif %}

    {% if object.userprofile.description %}
    <div id="userdescription">
        {{ object.userprofile.description|bbcode }}
    </div>
    {% endif %}
          
</div>

    {% include "shared/preset_list.html" with presets=object.preset_set.all %}
{% endblock %}
