{% extends "gamedb/base_gamedb.html" %}
{% load bbcode %}

{% block title %}{{ object }} - {{ object.game }}{% endblock %}

{% block main %}
<div id="breads">
    <ul class="horizmenu">
        <li><a href="{% url 'g-games-list' %}">Games list</a></li>
        <li>{{ object.game.render }}</li>
        <li>{{ object.render }}</li>
    </ul>
</div>
<div id="presetdetail">
    {% include "shared/editlink.html" with urlid="g-preset-edit" name="preset" %}
    <h2>{{ object.title }}</h2>
    
    <div id="infobox">
        <div class="infoline">Preset for {{ object.game.render }}</div>
        <div class="infoline">Created by {% include "shared/user.html" with user=object.creator %}</div>
        <div class="infoline">Added {{ object.added }}</div>
        {% if object.updated %}<div class="infoline">Updated {{ object.updated }}</div>{% endif %}
        <div class="infoline">Shader used: {{ object.shader.render }}</div>
    </div>
    
    {% if object not in user.userprofile.get_fav_presets %}
       <form method="post" action="{% url 'user-addfav' %}">
            <input type="hidden" name="preset" value="{{object.id }}">
            <input type="submit" value="Add to favorite">
            {% csrf_token %}
        </form>
    {% endif %}

    {% if object.description %}
        <div id="noteswrap">
            <div id="notestitle">Preset description:</div>
            <div id="notes">{{ object.description|bbcode }}</div>
        </div>
    {% endif %}

    <div id="presettextwrapper">
        <div class="buttoner">
            <a href="{% url 'g-preset-download' object.id %}" class="button">Download preset</a>
            <span id="toggleshow" class="button">Show / Hide settings</span>
        </div>

        <div id="presettextdata">{{ object.settings_text }}</div>
    </div>
    <div id="screenshots-container">
        <h3>Screenshots</h3>
        <div id="screenshots">
        {% ifequal user object.creator %}
            <div class="buttoner"><a href="{% url 'g-preset-add-screenshot' object.id %}" class="button">Add new screenshot</a></div>
        {% endifequal %}
        {% for image in object.get_screenshots %}
            <div class="presetimageblock">
                {{ image.render }}
            </div>
        {% endfor %}
        </div>
    </div>
    {% include "shared/comments.html" %}
    <script>
        $(document).ready(function () {
            $("#toggleshow").click(function () {
                $("#presettextdata").slideToggle(200);
            });
        });
    </script>
</div>
{% endblock %}
