<table class="forumtable">
    <thead>
        <tr>
            <td>BB code</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>[preset]id[/preset]</td>
            <td>Shows a link to preset with id ID</td>
        </tr>
        <tr>
            <td>[game]id[/game]</td>
            <td>Shows a link to game with id ID</td>
        </tr>
        <tr>
            <td>[b]text[/b]</td>
            <td>Shows text in bold</td>
        </tr>
        <tr>
            <td>[u]text[/u]</td>
            <td>Shows text underlined</td>
        </tr>
        <tr>
            <td>[i]text[/i]</td>
            <td>Shows text italicized</td>
        </tr>
        <tr>
            <td>[quote]text[/quote]</td>
            <td>Shows text in it's own block</td>
        </tr>
    </tbody>
</table>
